<%= render partial: "application/pageheader", locals: {title: "アルバイト管理"} %>

<h3>アルバイト追加</h3>
<%= form_with model: @addUser do |form| %>
    ユーザ名
    <%= form.text_field :userName %><br />
    パスワード
    <%= form.password_field :passWord %><br />
    時給
    <%= form.collection_select :salaryId, Salary.all, :id, :HourlySalary %>円<br />
    <%= form.submit "追加" %>
<% end %>

<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<% if flash[:alert] %>
    <font color="#FF0000"><%= flash[:alert] %></font>
<% end %>

<div align="right">
    <a href="/admin_main">戻る</a><br />
</div>

<%= render partial: "application/pagefooter" %>
